.mainViewport {
	margin: 10px;
	.searchBar {
		display: flex;
		justify-content: center;

		input {
			width: 350px;
		}
	}
	.movieList {
		display: flex;
		justify-content: flex-start;
		cursor: pointer;
		flex-wrap: wrap;
		margin-top: 10px;
	}
}
