@import url('https://fonts.googleapis.com/css?family=Rasa&display=swap');

html {
	body {
		font-family: 'Rasa', serif !important;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		background-color: #eceff1;
		#root {
			height: inherit;
		}
	}
}
